$font-family: "Roboto", sans-serif;
$font-weight-md: 500;
$color-white: #FFFFFF;
$color-gray: #EEEFF1;
$color-light-gray: #F9F9F9;
$color-dark-gray: #727272;
$color-blue: #34547A;
$primary-letter-spacing: 2px;
$primary-line-height: 26px;