body{
  background-color: black;
  color: white;
}

.App{
  max-width: 1200px;
}

.slider-container {
  max-width: 800px;
  max-height: 600px;
}

.dot{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.active{
  background-color: purple;
}

.slides{
  box-shadow: 25px 25px 40px 10px rgba(134, 134, 134, 0.5);
}